<footer class='flex items-center flex-wrap bg-gray-800 p-3 '>
	<a class='inline-flex items-center p-2 mr-4 '>
		<span class='text-l text-white tracking-wide'>
			Copyright 2024 © Liam Earle
		</span>
	</a>
</footer>