---
import Layout from '../layouts/Layout.astro';
import InfoCard from '../components/InfoCard.astro';
---

<Layout title="Welcome to Astro.">
	<div class="px-4 grid grid-cols-1 gap-4 content-center place-items-center py-6 md:h-screen">
		<InfoCard class="align-middle" subject="About Me">I'm a Computer Science Major at MUN expecting to graduate in 2024. Currently, Previously, I've worked as a Full-Stack Developer at Bluedrop ISM. I have skills in Dart (Flutter), C++, C#, Java, JavaScript (ReactJS, AngularJS, and NodeJS), Python and SQL (PostgreSQL). Below you can find links to my LinkedIn, GitHub, Photography Instagram, Resume and E-Mail at which you can reach me.</InfoCard>
	</div>
</Layout>
