---
---

<>
	<div class="sticky z-10 top-0 max-w-screen flex items-center h-16 bg-slate-700 bg-opacity-60 text-white backdrop-blur-sm">
		<div class="absolute left-0 flex xl:pl-[30%] lg:pl-[20%] font-quicksand text-2xl pl-5">
			<div>
				LiamEarle
			</div>
			<div class="text-cyan-400">
				.ca
			</div>
		</div>
		<ul class="absolute right-0 xl:pr-[30%] lg:pr-[20%] flex space-x-4 text-xl pr-5">
			<li class="bg-gray-600 hover:bg-gray-800 rounded-lg px-3 py-1"><a href="https://liam-earle.github.io/resume/">Resume</a></li>
			<li class="bg-gray-600 hover:bg-gray-800 rounded-lg px-3 py-1"><a href="mailto:laearle@mun.ca">Contact</a></li>
		</ul>
	</div>
</>